.tab {
    width: 100%;
    height: 100vh;
    position: block;
}
.tab-content{
    width: 100vw;
    height:100vh;
    position: relative;
    top: -20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 30px;
    overflow-x: hidden;
    width: 90vw;
background: #ED4264;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFEDBC, #ED4264);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFEDBC, #ED4264); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  margin: -40px;
  top: -10px;
  margin-right: 390px;
  margin-top: 20px;
  position:static;
  z-index: 1;
  transition: opacity 0.5s ease;
  /* background: rgba(255, 255, 255, 0.1); */
}

.gisou img {
  opacity: 0.9;
  right: -360px;
  position: relative;
  filter: drop-shadow(10px 5px 15px rgb(241, 206, 7))
   drop-shadow(3px 5px 30px rgba(247, 246, 243, 0.2)) 
   drop-shadow(1px 5px 30px rgba(248, 248, 248, 0.5));
  margin-right: -90px;
  top: 65px;
  z-index: 2;
}

.logo h1,h2,h3,h4 {
  margin: 20px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.301);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 15px rgba(255, 230, 0, 0.4),
              0 0 30px rgba(255, 230, 0, 0.2),
              1px 5px 30px rgba(184, 181, 165, 0.5);
  color: gray;
  position: relative;
  font-size: 14px;
}

.logo h3,
h4 {
  background: rgba(211, 206, 206, 0.952);
}

.logo h2,
h4 {
  margin: 10px;
  padding: 10px 35px;
  right: -80px;
}

.navi3 {
  background: rgba(180, 155, 155, 0.35);
  border-radius: 30px;
  backdrop-filter: blur(5px);
  box-shadow: 5px 5px 15px rgba(255, 230, 0, 0.4),
              10px 5px 40px rgba(14, 13, 5, 0.2),
              10px 10px 30px rgba(139, 121, 16, 0.5);
  width: 95%;
  height: 80px;
  box-sizing: border-box;
  position: absolute;
  margin-left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 margin-top: 1100px;
  padding: 20px 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
 
}

.navi3 h1 {
  color: rgb(197, 193, 193);
  font-family: monospace;
  font-weight: 100;
  padding: 16px;
  margin: 10px;
  text-shadow: 2px 3px 5px rgb(43, 39, 39),
                0 0 10px rgba(216, 210, 158, 0.4);
  position: relative;
  text-align: center;
  box-sizing: border-box;
   font-size: 25px;
}

.navi1 h2 {
  font-family: monospace;
  font-weight: 100;
  text-shadow: 2px 3px 5px rgb(43, 39, 39),
                0 0 10px rgba(216, 210, 158, 0.4);
  box-sizing: border-box;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 10px;
  padding: 10px 20px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.301);
  border: none;
  box-shadow: 50px 10px 58px rgba(121, 115, 115, 0.4);
  border-radius: 30px;
  color: rgb(17, 13, 13);
  right: -140px;
  position: relative;
}


.selectb{
    top: 60px;
    position: relative;
    z-index: 5;
}
.text h3{
    top: 8px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 
}

.content {
    top: 60px;
    width: 100vw;
    height: 620px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 50px;
}

.showbike {
    position: relative;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    font-size: 30px;
    font-weight: 600;
    font-family: sans-serif;
}

.showbike button {
    display: flex;
    padding: 10px;
    margin: 20px;
    width: 230px;
    height: 50px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    top: 50px;
}

.showbike li a {
    text-decoration: none;
}

.series button {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 200;
    color: gray;
    position: relative;
    margin-left: 10px;
}

.series {
    font-family: sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    top:51px;
    position: relative;
    z-index: 4;
     display: flex;
    justify-content: center;
    align-items: center;

}

.box1 {
    position: relative;
    width: 600px;
    height: 600px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    position: block;
    top:-8px;
}

.box2 {
    position: relative;
    top: -600px;
    margin-left: 400px;
    width: 490px;
    height: 680px;
    display: flex;
    justify-content: center;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    background-image: url(/images/stage-removebg-preview.png);
    background-size: cover;
    background-position: center;
}


.box2 .road {
    margin-left: 150px;
}


.box3 {
    width: 200px;
    height: 600px;
    margin-right: 30px;
    position: block;
    margin-top: -1px;
}

.bikeimg .btn {
    font-size: 15px;
    font-weight: 700;
    margin-top: -9px;
}

.nav-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 20px;
    padding: 20px;
    text-decoration: none;
    background-color: rgba(255, 247, 247, 0.5);
}

.bikeimg .active {
    border-left: 5px solid #FFD700; /* Dark Yellow */
    transform: scale(1.1);
    background-color: rgb(247, 245, 245);
    box-shadow: 0px 20px 20px rgb(238, 238, 238);
}

.bikeimg :hover {
    transform: scale(1.1);
}

.nav-img img {
    width: 170px;
    height: 160px;
    cursor: pointer;
}

.road img {
    width: 400px;
    height: 600px;
    position: relative;
    top: -10px;
    left: -50px;
}

.det span a {
    font-family: sans-serif;
    font-weight: 700;
    top: -2px;
    position: relative;
    font-size: 35px;
    display: inline-block;
    color: black;
    font-size: 40px;
    letter-spacing: 5px;
}

.det h1 {
    color: #DAA520; /* Dark Yellow */
    font-weight: 700;
    font-size: 32px;
}

.det h1 p {
    color: #585656;
    font-size: 10px;
}

.info {
    flex: 4;
    margin-left: -80px;
}

.bikeimg {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    overflow: scroll;
    flex-wrap: nowrap;
    align-items: center;
    height: 600px;
    margin-left: -300px;
}

.showbike li .active .btn {
    background-color: #DAA520; /* Dark Yellow */
    color: white;
}

.series li .active b {
    color: #FFD700; /* Dark Yellow */
}

.banner,.banner img {
    width: 90%;
    height: 80.6%;
    position: absolute;
    top :-90px;
    margin: 70px;
    left: -38px;
    background: #A770EF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 20px;
    box-shadow: 0px 20px 20px rgb(250, 246, 246);
    backdrop-filter: blur(7px) drop-shadow(0px 20px 20px rgb(238, 238, 238)) opacity(0.5);
    filter: blur(7px) drop-shadow(0px 20px 20px rgb(238, 238, 238)) opacity(0.5);
}

.bannerimg img {
    width: 90%;
    height: 80.6%;
    position: absolute;
    top :-90px;
    margin: 70px;
    left: -38px;
    border-radius: 20px;
    box-shadow: 0px 20px 20px rgb(250, 246, 246);
    backdrop-filter: blur(7px) drop-shadow(0px 20px 20px rgb(238, 238, 238)) opacity(0.5);
    z-index: -1;
    position:absolute;
    opacity: 0.4;
}